@tailwind base;
@tailwind components;
@tailwind utilities;

.current {
    border-left: 1px solid;
    animation: blinkingCursor 1.5s linear infinite;
    animation-timing-function: ease;
}

.current-right {
    border-right: 1px solid;
    animation: blinkingCursorRight 1.5s linear infinite;
    animation-timing-function: ease;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.unique {
    color : #188FA7;
    text-decoration: underline;
}
/* 
.unique::before {
    content: "start";
    color: red;
} */

@keyframes blinkingCursor {
    0% {border-left-color: black}
    25% {border-left-color: transparent}
    50% {border-left-color: black}
    75% {border-left-color: transparent}
    100% {border-left-color: black}
}